h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size:120px;
    font-style:italic;
    color:#FC6;
}

p,li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 160%;
    color:#C63;
}

a{
    font-weight: bold;
    color:#C63;
    text-decoration:none;
}

a:hover{
    color:#CC3;
    text-decoration:underline;
}